@font-face {
  font-family: 'Neucha';
  src: local('Neucha'),
      url('../fonts/Neucha.woff') format('woff2'),
      url('../fonts/Neucha.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
      url('../fonts/OpenSans-Italic.woff2') format('woff2'),
      url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
	margin: 0;
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #000;
}

ul {
	margin: 0;
	padding: 0;
}

.dflex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-cnt {
  align-items: center;
  height: 160px;
}

.header {
  margin-bottom: 40px;
  overflow: hidden;
}
  
.header__title {
  margin: 0 0;
  width: 240px;
  padding-top: 215px;
  font-size: 32px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.01em;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.header__title span {
  font-size: 64px;
  text-transform: uppercase;
}

.header__poster {
  background: no-repeat url("/images/banner1.jpg");
  width: 1920px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

/*.header__poster::before {
  content: '';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.12%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 53.12%, #FFFFFF 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}*/

.container {
	width: 1140px;
	margin: 0 auto;
}

.mainmenu {
  width: 550px;
  list-style-type: none;
}

.mainmenu__item a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease;
}

.mainmenu__item a:hover {
  color: #82A1B1;
}

.header__phone {
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
}

.header__action {
  transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.25s ease;
}

.button {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  text-decoration: none;
  padding: 0 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px dotted #fff;
}

.button--primary {
  background-color: #EBC43B;
  color: #fff;
}

.button--primary:hover {
  background-color: #82A1B1;
}

.button--color {
  background-color: #82A1B1;
}


.button--color:hover {
  background-color: #97BACC;
}

#blablabla {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#blablabla.open {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  transition: all 0.5s ease;
  display: none;
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F5F5F5;
  border-radius: 10px;
  max-width: 588px;
  width: 100%;
  border: 1px solid #82A1B1;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.popup__wrapper {
  padding: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #82A1B1;
  cursor: pointer;
}

.header__text {
  margin: 0 0;
  font-size: 32px;
  line-height: 24px;
  text-align: right;
  font-feature-settings: 'pnum' on, 'lnum' on;
  padding-top: 196px;
}

.page__title {
  margin: 0 0;
  font-size: 40px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.page__title--formcolor {
  color: #82A1B1;
  font-weight: 400;
}

.page__text {
  margin: 60px 0px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 520px;
}

.page__text--form {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;
color: #82A1B1;
}
.benefits {
  margin-bottom: 90px;
}

.benefits__info {
  display: grid;
  row-gap: 90px;
}

.benefits__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:40px;
}

.benefits__group--width {
  width: 355px;
  margin: auto auto;
}

.benefits__group--mgn {
  margin: auto auto;
}

.benefits__list__item {
  list-style-type: none;
  padding-bottom: 20px;
}

.benefits__list__item:last-child {
  padding-bottom: 12px;
}

.benefits__grouptitle {
  margin: 0 0;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
}

.benefits__list {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  padding: 12px 0px 12px 0px;
}

.benefits__img {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
 }

 .benefits__img img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
 }

 .benefits__img img:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
 }

 .page__text--tourwidth {
  width: 373px;
 }

.ourtour {
  margin-bottom: 90px;
}

 .ourtour__img {
  position: relative;
  text-align: center;
  
 }

 .ourtour__img:focus-within {
  outline: 1px dotted #fff;
  outline-offset: -1px;
}

 .ourtour__img img{
  display: block;
  width: 100%;
  height: auto;
 }

 .ourtour__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  transition: opacity 0.4s ease;
  /*content: '';
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
 }

 .ourtour__img--transp::after{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));*/
 }

 .ourtour__img h2{
  margin: 0 0;
  position: absolute;
  top		: 114px;
	left		: 0;
	width		: 100%;
  color:#fff;
  z-index: 1;
  font-size: 36px;
  line-height: 40px;
 }

 .ourtour__price {
  position: absolute;
  top		: 256px;
	left		: 0;
 	width		: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  z-index: 1;
 }

 .ourtour__days {
  position: absolute;
  top		: 224px;
	left		: 0;
 	width		: 100%;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  z-index: 1;
 }

 .ourtour__img:hover::after {
  opacity: 0.7;
}

 .ourtour__img:hover .ourtour__action{
  opacity: 1;
  transform: translate(-50%, -50%);
}

 .ourtour__action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    white-space: nowrap;
    opacity: 0;
    z-index: 1;
    transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.25s ease;
 }

.ourtour__img:hover .ourtour__price {
display:none;
}

.ourtour__img:hover .ourtour__days {
  display:none;
}

.ourtour__img:hover h2 {
  display:none;
}

.reviews{
 overflow: hidden;
 margin-bottom: 90px;
}

.reviews__poster {
  background: no-repeat url("/images/sapbigcontainer.jpg");
  width: 1920px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.reviews__poster::before {
  content: '';
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 63.12%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 63.12%, #FFFFFF 100%), linear-gradient(360deg, rgba(255, 255, 255, 0) 70%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #FFFFFF 100%); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bigcontainer {
  width: 1396px;
  margin: 0 auto;
  height: 800px;
}

.reviews__title {
  margin: 0 0;
  width: 364px;
  color:#fff;
  font-size: 36px;
  line-height: 40px;

}

.reviews__decorrectangle {
  margin: 0 0;
  width: 808px;
  height: 442px;
  background: rgba(217, 217, 217, 0.6);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  position: relative;
}

.reviews__whiterectangle {
  margin: 0 0;
  width: 740px;
  height: 532px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.reviews__full {
  margin-top: 116px;
  margin-bottom: 116px;
  margin-left: 70px;
}

.reviews__text {
  width: 400px;
  padding: 0 20px;
}

.reviews__text__info {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-top: 20px;
  text-align: justify;
}

.reviews__text__autor {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: right;
padding-top: 20px;
}

.slider-nav {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.slider-nav__arrow {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: 2px solid #82A1B1;
  background-color: #82A1B1;
  cursor: pointer;
}


.slider-nav__arrow:hover {
  border: 2px solid #82A1B1;
  background-color: white;
}

.slider-nav__arrow:focus {
  outline: none;
}

.slider-nav__arrow:focus-visible {
  outline: 1px dotted yellow;
}

.slider-nav__arrow--disabled {
  background-color: transparent;
  pointer-events: none;
}

.slider-nav__arrow--disabled path {
  stroke: #82A1B1;
}

.slider-nav--horizontal {
  flex-direction: row;
}

.slider-nav--horizontal .slider-nav__arrow:not(:last-child) {
  margin-right: 20px;
}

.slider-nav--vertical {
  flex-direction: column;
}

.slider-nav--vertical .slider-nav__arrow{
  transform: rotate(90deg);
}

.slider-nav--vertical .slider-nav__arrow:not(:last-child) {
  margin-bottom: 30px;
}

.page__title--gallerywidth {
  width: 457px;
  line-height: 55px;
}

.page__text--gallerywidth {
  width: 450px;
}

.page__article {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  width: 570px;
  padding-top: 39px;
}

.gallery {
  margin-bottom: 90px;
}

.gallery__link {
  margin-left: 106px;
  padding-top: 90px;
}

.gallery__link:hover {
  display: block;
  color: #82A1B1;
  border-bottom: 2px solid #82A1B1;
  width: 249px;
}

.gallery__link a {
  padding-left: 12px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color:#000;
}

.gallery__link a:hover {
  color:#82A1B1;
}

.gallery__icons {
  display: grid;
  grid-template-columns: 106px 156px 156px 106px;
  justify-content: space-between;
  margin-top: 40px;
}

.gallery__item {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
  height: 184px;
 }

 .gallery__item img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
 }

 .gallery__item img:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
 }

 .gallery__item--height {
  height: 250px;
 }

 .container1920px {
  width: 1920px;
  margin: 0 auto;
 }

.faq {
  margin-bottom: 90px;
}

 .faq__greyrect {
  background-color: #f5f5f5;
  width: 970px;
 }

/*.faq__gradient::after {
  content: '';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 71.35%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 26.04%, #FFFFFF 100%), linear-gradient(360deg, rgba(255, 255, 255, 0) 68.75%, #FFFFFF 100%),linear-gradient(360deg, rgba(255, 255, 255, 0) 59.37%, #FFFFFF 100%); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

.section-faq {
  overflow: hidden;
  position: relative;
}

.section-faq__row {
  display: flex;
}

.section-faq__content {
  width: calc(50% + 30px / 2);
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 80px;
}

.section-faq__poster {
  position: absolute;
  top: 0;
  left: calc(50%);
  width:960px;
  height: 100%;
  background: url('../images/reviews.jpg') no-repeat left bottom / cover;
}

.section-faq__poster img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.section-faq__poster::after {
  content: '';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 71.35%, #FFFFFF 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 26.04%, #FFFFFF 100%), linear-gradient(360deg, rgba(255, 255, 255, 0) 68.75%, #FFFFFF 100%),linear-gradient(360deg, rgba(255, 255, 255, 0) 59.37%, #FFFFFF 100%); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.faq-card {
  border: 2px solid #000;
  margin: 0 40px;
}

.faq-card.is-open {
  border: 2px solid #82A1B1;

  
}

.faq-card.is-open .faq-card__content {
  display: block;
}

.faq-card.is-open .faq-card__toggle-icon{
  transform: rotate(45deg);
}

.faq-card__toggle {
/*  min-height: 108px; */
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: #000;
}

.faq-card__toggle:focus-visible {
  outline: 1px dotted white;
}

.faq-card__toggle-icon {
  width: 48px;
  height: 48px;
  background: url('../images/plus.svg') no-repeat center center;
  cursor: pointer;
}

.faq-card__content {
  display: none;
  padding: 30px 30px 30px 30px;
  margin-top: -25px;
  line-height: 130%;
  font-family: 'Open Sans';
  font-size: 18px;
}

.faq-card__content p {
  margin: 0 0 14px;
}

.faq-card__content p:last-child {
  margin-bottom: 0;
}

.page__title--faqmrgn {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 40px;
  padding-top: 60px;
}

.blog {
  margin-bottom: 90px;
}

.blog__nav {
  position: relative;
}

.blog__title {
  margin: 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.blog__about {
  margin: 0 0;
  width: 218px;
  height: 132px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}

.blog__articles__item a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
}

.blog__articles__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog__title--overflow{
  white-space: nowrap;
  overflow: hidden;
 text-overflow: ellipsis;
 width: 83px;
}

.blog__about--overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 83px;
}

.blog__articles__item a:hover {
  color: #82A1B1;
}

.blog__articles {
  margin-top:40px;
  gap:19px;
  justify-content: right;
  position: relative;

}

.blog__link {
  margin-left: 699px;
  padding-top: 227px;
}

.blog__link:hover {
  display: block;
  color: #82A1B1;
  border-bottom: 2px solid #82A1B1;
  width: 212px;
}

.blog__link a {
  padding-left: 12px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color:#000;
}

.blog__link a:hover {
  color:#82A1B1;
}

.footer {
  background-color: #82A1B1;
}

.footer__social {
  padding-top: 20px;
  height: 100px;
}

.footer__text {
  margin: 0 0;
  width: 600px;
  height: 76px;
  gap:17px;
}

.footer__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 129.14%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2A637E;
}

.footer__icon {
  margin: 0 0;
  width: 184px;
}


.footer__line {
  margin: 0 0;
  border-left: 2px solid #2A637E;
  height: 70px;
}

.footer__contact {
  margin: 0 0;
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.14%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  opacity: 0.5;
}

.footer__contact a {
  text-decoration: underline;
  color: #000;
}

.footer__contact a:hover {
  color: #f5f5f5;
}

/* contact-form */
.contact-form__field {
  margin-bottom: 12px;
}

.contact-form__textarea {
  height: 126px;
  resize: none;
}

.contact-form__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.contact-form__terms {
  width: 50%;
}

.input-field {
  appearance: none;
  border: 2px solid #82A1B1;
  background-color: transparent;
  color: #EBC43B;
  padding: 15px 20px;
  width: 100%;
  transition: border 0.25s ease;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.input-field:focus {
  border: 2px solid #EBC43B;
  outline: none;
}

input:focus::-webkit-input-placeholder { 
  color:transparent; 
}

textarea:focus::-webkit-input-placeholder { 
  color:transparent; 
}

.input-field::placeholder {
  color: #82A1B1;
  opacity: 0.8;
}

/* checkbox */
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__text::before{
  background: #82A1B1 url('../images/check.svg') no-repeat center center;
}

.checkbox__input:focus-visible + .checkbox__text::before{
  outline: 1px solid #fff;
}

.checkbox__text {
  padding-left: 40px;
  display: block;
  position: relative;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.checkbox__text::before {
  content: '';
  border: 1px solid #82A1B1;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
}

.checkbox__text a {
  font-weight: 600;
  text-decoration: none;
  color: #82A1B1;
}

.checkbox__text a:hover {
  color: #97BACC;
}

.checkbox__text a:focus-visible {
  outline: 1px dotted #82A1B1;
}

#backtotop {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translate(0%, 100%);
}

.backtotopclass {
  transform: rotate(-90deg);
  margin: 0 0;
  width: 100px;
}

.backtotopclass img{
  transform: rotate(90deg);
}

.backtotop__sociallink {
  margin-left: 90px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 129.14%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
  text-transform: uppercase;
  gap: 50px;
}

.backtotop__sociallink p {
 margin: 0 0;
}

.backtotop__sociallink a {
 text-decoration: none;
 color: #000;
}

a[data-fancybox] img {
  cursor: pointer;
}

.fancybox__container {
  --fancybox-bg: rgba(17, 6, 25, 0.85);
}

.fancybox__container .fancybox__content {
  /* Create white border around the image */
  box-sizing: content-box;
  padding: 1rem;
  background: #fff;

  border-radius: 6px;
  color: #374151;
  box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
}

.fancybox__caption {
  max-width: 80%;

  /* Prevent opacity change when dragging up/down */
  --fancybox-opacity: 1;
}